body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  h1, #designed-by {
    text-align: center;
  }
  
  .style1 {
    background-color: red;
  }
  
  .style2 {
    background-color: blue;
  }
  
  .style3 {
    background-color: #9B9A9A;
  }
  
  .style4 {
    background-color: green;
  }
  
  .style5 {
    background-color: yellow;
  }
  
  .style6 {
    background-color: orange;
  }
  
  /* SETTING THE COLOR OF THE BOX TEXT */
  .tiles .box-wrapper > a {
    color: white;
  }